.detailDog{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;
    width: 90%;
    img{
        width: 25rem;
        height: 20rem;
    }
    div{
        background-color: $buttons-color;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: #EEEEEE;
        padding: 2rem;
        h2{
            color: #EEEEEE;
            align-self: center;
        }
    }
}