.buttonBack{
    width: 3rem;
    height: 3rem;
    background-color: $buttons-color;
    border: 0;
    margin: 0.8rem;
    padding: 6px;
    border-radius: 100%;
    &:hover{
        transform: scale(1.1);
        cursor: pointer;
        background-color: $principa-color;
        svg{
            fill: white;
        }
    }
}
.detailDog{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;
    width: 90%;
    img{
        width: 25rem;
        height: 20rem;
    }
    div{
        background-color: $buttons-color;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: #EEEEEE;
        padding: 2rem;
        h2{
            color: #EEEEEE;
            align-self: center;
        }
    }
}